<%= form_for @order, :url => update_checkout_path('payment'),
             :html => {:id => "checkout_form_payment", :onsubmit => "updateCart();updateCordialSubscriber()"} do |form| %>
  <div class="columns omega eight" data-hook="shipping_fieldset_wrapper">
    <fieldset id="shipping" data-hook>
      <legend align="center" class="js-bookmark left-text">1 <%= t(:shipping_address) %></legend>
      <div class="js-inner">
        <% if !spree_current_user.present? %>
          <p class="field">
            <%= form.label :email, Spree.t(:email) %><span class="required">*</span><br />
            <%= form.text_field :email, :class => 'required' %>
          </p>
        <% end %>
        <%= form.fields_for :ship_address do |ship_form| %>

          <%= render :partial => 'spree/address/form', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
          <button class="btn js-next js-shipping-sub btn-primary btn-left" data-next="next" data-check="shipping" type="button" onclick="updateCordialSubscriber()">Next</button>
          </div>
        <% end %>
        </fieldset>
  </div>

  <div class='columns eight omega' data-hook='delivery_fieldset_wrapper' id="shipping_method_wrapper">
    <fieldset id='shipping_method' class=' clear-checkout variant-info' data-hook="" data-order="<%= @order.id %>" data-not-delivery="<%= t(:without_delivery) %>" data-url="<%= available_shipping_methods_url %>">
      <legend align="center" class="js-bookmark left-text" data-check="shipping" onclick="updateCordialSubscriber()">
        2 <%= t(:shipping_method) %>
      </legend>


      <div class="js-inner">
        <div id='methods'>
          <div class="time-load"><%= image_tag "spinner.gif" %></div>
          <p class='field radios'>
          </p>
        </div>
        <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
          <p id='minstrs' data-hook="">
            <%= form.label :special_instructions, t(:shipping_instructions) %>
            <br>
            <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
        <% end %>
        <!--<center><button class="btn" id="check-shipping-methods" type="button"><%#= t(:check_shipping_methods) %></button></center>-->

        <button type="button" class="btn btn-primary js-next-payment btn-left" onclick="identifyCordialFormSubscriber();updateCart();">
          Next
        </button>
      </div>
    </fieldset>
  </div>

  <div class='omega eight columns'>
    <fieldset id="payment" class="variant-info" data-hook>
      <legend align="center" class="js-bookmark left-text" onclick="identifyCordialFormSubscriber();updateCart();">
        3 <%= t(:payment_information) %>
      </legend>


        <div class="js-inner">
          <div class="payment clearfix">
            <div class="col-md-12" data-hook="checkout_payment_step">
              <fieldset id="billing" data-hook>
                <p class="field checkbox" data-hook="use_billing">
                  <%= check_box_tag 'order[use_billing]', '1', ((@order.bill_address.empty? && @order.ship_address.empty?) || @order.bill_address.same_as?(@order.ship_address)), disabled: false %>

                  <%= label_tag :order_use_billing, t(:use_shipping_address), :id => 'use_shipping' %>
                </p>

                <div class="billing_address">
                  <%= form.fields_for :bill_address do |bill_form| %>

                      <%= render :partial => 'spree/address/form', :locals => {:form => bill_form, :address_type => 'billing', :address => @order.bill_address} %>
                  <% end %>
                </div>
              </fieldset>

              <% @order.available_payment_methods.each do |method| %>
                  <p>
                    <label>
                      <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, true %>
                      <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
                    </label>
                  </p>
              <% end %>
              <ul id="payment-methods" data-hook>
                <% @order.available_payment_methods.each do |method| %>
                    <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                      <fieldset>
                        <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => {:payment_method => method} %>
                      </fieldset>
                    </li>
                <% end %>

            </ul>

            <fieldset id="subscribe" class=<%= spree_current_user.present? ? 'hidden' : '' %> data-hook>
              <p class="field checkbox" data-hook="order_subscribe">
                <%= form.check_box :subscribe %>

                <%= form.label :subscribe, "I’d like to receive exclusive discounts and news from Scout and Nimble by email.", :id => 'subscribe' %>
              </p>
            </fieldset>


              <br style="clear:both;">

            <div data-hook="coupon_code_field" data-hook></div>
          </div>


        </div>

        <% if (spree_current_user && spree_current_user.store_credits_total > 0) %>
          <% usable_amount = number_with_precision(@order.store_credit_maximum_usable_amount, :precision => 2, :separator => '.', :delimiter => '') %>
          <br style='clear:both;'/>

          <p><%= Spree.t('you_have_store_credit',
                         :amount => number_to_currency(spree_current_user.store_credits_total)) %>
          </p>

          <p>
            <label><%= Spree.t('enter_desired_amount_of_store_credit') %></label><br/>
            <%= form.text_field :store_credit_amount, :size => 19, :value => usable_amount, :data => {:url_check => set_store_credit_path(format: :json), :store_credit_maximum_amount => usable_amount, :store_credit_maximum_amount_message => Spree.t('store_credit_maximum_amount', :amount => number_to_currency(@order.store_credit_maximum_usable_amount))} %>
          </p>
        <% end %>

          <button type="button" class="btn btn-primary js-next-order-summary btn-left">next</button>
          <!--<div class="form-buttons" data-hook="buttons">-->
            <%#= submit_tag t(:checkout), :class => 'btn btn-primary one-page-checkout-button', 'data-hook' => 'one_page_checout_button' %>
            <script>
                // disableSaveOnClick();
            </script>
          <!--</div>-->


        </div>

      </fieldset>
    </div>


    <div class='omega eight columns'>
      <fieldset id="order_summary" class="variant-info" data-hook>
        <legend align="center" class="js-bookmark left-text" data-summary="true">4 <%= t(:order_summary) %></legend>

        <div class="js-inner">
          <div class="order_summary clearfix">

            <div class="col-md-4 col-sm-4 col-xs-12 shipping_address">
              <span class="header">Shipping Address</span>
              <div class="summary data"></div>
              <div class="summary phone"></div>
              <div class="edit-action js-edit-checkout-step" data-step="shipping">EDIT</div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 billing_address">
              <span class="header">Billing Address</span>
              <div class="summary data"></div>
              <div class="summary phone"></div>
              <div class="edit-action js-edit-checkout-step" data-step="payment">EDIT</div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 payment_information">
              <span class="header">Payment Information</span>
              <div class="summary data"></div>
              <div class="summary phone"></div>
              <div class="edit-action js-edit-checkout-step" data-step="payment">EDIT</div>
            </div>

          </div>
          <div class="form-buttons checkout-center" data-hook="buttons">
            <%= submit_tag t(:checkout), :class => 'btn btn-primary one-page-checkout-button', 'data-hook' => 'one_page_checout_button' %>
          </div>
        </div>
      </fieldset>
    </div>

  <br class="space"/>

<% end %>
<div class="hidden">
  <%= link_to "#", check_adjustments_path, id: "js-check-adjustments-url" %>
</div>