
    <h2 class="adjustments_title">Order Summary</h2>

<div id="load_cart_adjustments" data-hook>
  <div class="my_adjustment col-md-12">
    <div class="adjustment_title col-md-6"><%=  Spree.t(:sub_total)%></div>

    <div class="adjustment_title col-md-6"><strong><%= order.display_item_total.to_html %></strong></div>
  </div>

  <% if order.promotions.present? && !is_start10_in_adjustments(order) && is_start10_in_promotions(order)%>
    <div class="my_adjustment col-md-12">

      <div class="adjustment_title col-md-6"><%= "START 10 Discount" %></div>
      <div class="adjustment_title col-md-6"><strong>-$<%= '%.2f' % 0 %></strong></div>
    </div>
  <% end %>

  <% if order.line_item_adjustments.exists? %>
    <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
      <%= render "spree/orders/adjustment_one_page_row", :label => display_start10_discount(adjustments, label), :adjustments => adjustments, :type => Spree.t(:promotion) %>
    <% end %>
  <% end %>

  <% order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_one_page_row", :label => label, :adjustments => adjustments, :type => Spree.t(:tax) %>
  <% end %>
  <% if @shipment_sorted.present? %>
    <% @shipment_sorted.each do |key, val| %>
      <%- shipping_method = Spree::ShippingMethod.find_by_id(key) %>
      <%- if shipping_method.present? %>
        <div class="my_adjustment col-md-12">

          <div class="adjustment_title col-md-6"><%= shipping_method.name %></div>
          <div class="adjustment_title col-md-6"><strong>$<%= '%.2f' % val.sum(&:cost) %></strong></div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% order.adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_one_page_row", :label => label == 'White Glove Shipping' ? 'White Glove Delivery' : display_designer_discount(label, order), :adjustments => adjustments, :type => Spree.t(:adjustment) %>
  <% end %>

  <%# order.shipment_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
      <% if order.shipment_adjustments.sum(:amount) == 0 %>
        <div class="my_adjustment col-md-12">
          <div class="adjustment_title col-md-6">Shipping</div>

          <div class="adjustment_title col-md-6"><strong>FREE</strong></div>
        </div>
      <% else %>
        <%= render "spree/orders/adjustment_one_page_row", :label => "Shipping", :adjustments => order.shipment_adjustments, :type => Spree.t(:adjustment) %>
      <% end %>
  <%# end %>

  <div class="summary_adjustment col-md-12">
    <div class="adjustment_title col-md-6"><strong><%=  Spree.t(:total)%></strong></div>
    <div class="adjustment_title col-md-6"><strong>$<%= '%.2f' % [order.item_total + order.adjustment_total + order.additional_tax_total + order.shipment_total + order.promo_total] %></strong></div>
    <!--+ order.adjustment_total-->
  </div>


</div>