<%# if !Spree::Auth::Config[:registration_step] || spree_user_signed_in? %>
<div class="col-md-8">
  <%= render :partial => 'spree/orders/checkout_form' %>
</div>
<div class="col-md-4">
  <div class="shopping-additional-info mb-large">
    <div class="header">Need assistance?</div>
    <div>call 1-800-527-6263 with any questions</div>
    <div class="email-btn">
      <a href="mailto:support@scoutandnimble.com" target="_top"><span class="email">or <span>email us</span></span></a>
    </div>
  </div>
  <div id="js-order-adjustments">
    <%= render :partial => 'spree/orders/one_page_adjustments', :locals => {:order => @order} %>
  </div>
  <div class="col-md-12 safe_payment_logo">
    <%= image_tag "frontend/payments-new.png", class: "img-responsive" %>
  </div>
  <div class="order_line_items">
    <h3 class="adjustments_title">In your cart</h3>
    <% @order.line_items.each do |line_item| %>
        <div class="list_product">
          <%- if line_item.variant.present? and line_item.variant.images.present? %>
              <%= image_tag(line_item.variant.images.first.attachment.url(:small)) %>
          <%- else %>
              <%= small_image(line_item.product, :itemprop => 'image', :class => "board-lightbox-product-img") %>
          <% end %>
          <h3><%= line_item.product.name %></h3>

          <div class="price">Price: <strong><%= line_item.display_amount.to_html %></strong></div>
          <div class="quantity">Quantity: <strong> <%= line_item.quantity %></strong></div>
        </div>
    <% end %>
  </div>
</div>
<%# else %>
<%= render :template => 'spree/modals/shipping_modal' %>
<%# end %>
